@use "sass:math";
@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_header.scss";
@import "_footer.scss";
@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria-medium.woff2") format("woff2"),
    url("../fonts/geometria/geometria-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria-extrabold.woff2") format("woff2"),
    url("../fonts/geometria/geometria-extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria-bold.woff2") format("woff2"),
    url("../fonts/geometria/geometria-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria.woff2") format("woff2"),
    url("../fonts/geometria/geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/kyiv_type/kyivtypesans-regular2.woff2") format("woff2"),
    url("../fonts/kyiv_type/kyivtypesans-regular2.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/kyiv_type/kyivtypesans-medium2.woff2") format("woff2"),
    url("../fonts/kyiv_type/kyivtypesans-medium2.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/kyiv_type/kyivtypesans-bold2.woff2") format("woff2"),
    url("../fonts/kyiv_type/kyivtypesans-bold2.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acworth";
  src: url("../fonts/acworth/acworthbold.woff2") format("woff2"),
    url("../fonts/acworth/acworthbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  scroll-behavior: smooth;
}
body {
  color: #ffffff;
  background: url(../img/body.png) 0 0 / cover no-repeat fixed, #111111;
  transition: all 0.7s;
  &.lock {
    overflow: hidden;
  }
}

// *___________________________________________ Head
.head {
  // .head__container
  &__container {
  }
  // .head__body
  &__body {
    position: relative;
    display: grid;
    place-items: center;
    height: 90svh;
    width: 100%;

    @media (max-width: em(991.98)) {
      height: 72svh;
      place-items: end;
      margin-bottom: 1rem;
    }
  }
  // .head__text
  &__text {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    align-items: center;
    opacity: 0;
    animation: text-head 1.8s forwards;
    animation-delay: 1.5s;
    pointer-events: none;
    @keyframes text-head {
      0% {
        transform: translate(-50%, -75%);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, -55%);
        opacity: 1;
      }
    }
  }
  // .head__sub-title
  &__sub-title {
    font-family: "Geometria";
    font-weight: 700;
    font-size: rem(36);
    line-height: 1.25; /* 45/36 */
    margin-bottom: rem(30);
  }
  // .head__title
  &__title {
    font-family: "Acworth";
    font-weight: 700;
    font-size: rem(220);
    line-height: 0.8; /* 243/220 */
  }
  // .head__pictures
  &__pictures {
  }
}
.img-head {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  // .img-head__items
  &__items {
    display: grid;
    grid-template-columns: 30.935252% 65.467626%;
    gap: 4svh;

    @media (max-width: em(991.98)) {
      gap: 2svh;
    }
  }
  // .img-head__item
  &__item {
    position: relative;
    width: 100%;
    height: 30svh;
    overflow: hidden;
    @media (hover: hover) {
      &:hover:nth-child(odd) {
        .img-head__pictures {
          transform: scale(1.1);
        }
      }
      &:hover:nth-child(even) {
        .img-head__pictures {
          transform: scale(1.05);
        }
      }
    }
    &:nth-child(1) {
      opacity: 0;
      animation: child-head 1.2s forwards;
      animation-delay: 1s;
    }

    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/3;
      opacity: 0;
      animation: child-head 0.8s forwards;
      height: 64svh;
    }
    &:nth-child(3) {
      opacity: 0;
      animation: child-head 1.2s forwards;
      animation-delay: 0.5s;
    }
    @keyframes child-head {
      0% {
        transform: scale(0.9);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  // .img-head__pictures
  &__pictures {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }
}

// *_________________________________ Portfolio

.portfolio {
  // .portfolio__container
  padding-bottom: 7rem;
  &__container {
  }
  // .portfolio__body
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  // .portfolio__title
  &__title {
    width: 100%;
    display: flex;
    justify-content: end;
    & span {
      font-family: "Geometria";
      font-weight: 500;
      font-size: rem(24);
      line-height: 1.25;
      position: relative;
      margin-right: 5rem;
      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        top: 50%;
        left: 110%;
        transform: translateY(-50%);
        background-color: #ffffff;
      }
      @media (max-width: em(689.98)) {
        position: static;
        transform: translate(0, 15px);
        margin-bottom: 50px;
      }
      @media (max-width: em(549.98)) {
        margin-bottom: 30px;
      }
    }
  }
  // .portfolio__items
  &__items {
    margin-top: -3svh;
  }
  // .portfolio__items-main
  &__items-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4svh;

    & .portfolio__item:nth-child(odd) {
      grid-row: auto / span 10;
    }
    & .portfolio__item:nth-child(even) {
      grid-row: auto / span 10;
    }
    & .portfolio__item:nth-child(1) {
      grid-row: 1 / 10;
    }

    & .portfolio__item:nth-child(2) {
      grid-row: 2 / 11;
    }
    @media (max-width: em(650)) {
      grid-template-columns: 1fr;
      margin-bottom: 4svh;
      & .portfolio__item:nth-child(odd) {
        grid-row: auto / span 1;
      }
      & .portfolio__item:nth-child(even) {
        grid-row: auto / span 1;
      }
    }
  }
  // .portfolio__item
  &__item {
  }
  // .portfolio__items-hidden
  &__items-hidden {
    transition: 0.8s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4svh;

    & .portfolio__item:nth-child(odd) {
      grid-row: auto / span 10;
    }
    & .portfolio__item:nth-child(even) {
      grid-row: auto / span 10;
    }
    & .portfolio__item:nth-child(1) {
      grid-row: 1 / 10;
    }

    & .portfolio__item:nth-child(2) {
      grid-row: 2 / 11;
    }
    @media (max-width: em(650)) {
      grid-template-columns: 1fr;
      & .portfolio__item:nth-child(odd) {
        grid-row: auto / span 1;
      }
      & .portfolio__item:nth-child(even) {
        grid-row: auto / span 1;
      }
    }
  }
  // .portfolio__button
  &__button {
    font-family: "Geometria";
    font-weight: 800;
    font-size: rem(18);
    line-height: 1.27; /* 23/18 */
    display: flex;
    justify-content: center;

    @media (max-width: em(599.98)) {
      font-size: rem(16);
    }
  }
  // .portfolio__work-button
  &__work-button {
    display: block;
    padding: rem(21) rem(62);
    border: 2px solid #ffffff;
    transition: all 0.5s;
    @media (hover: hover) {
      &:hover {
        background-color: #b91616;
        border: 2px solid #b91616;
      }
    }
  }
}

.painting {
  position: relative;
  height: 45svh;
  @media (hover: hover) {
    &:hover {
      .painting__name {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
      .painting__image {
        transform: scale(1.02);
      }
    }
  }
  &__pictures {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 3s;
    z-index: -1;
    transform: scale(0.95);
  }
  // .painting__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s;
  }
  // .painting__name
  &__name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.7s;
    z-index: 1;
    @media (max-width: em(991.98)) {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      top: 75%;
      height: rem(60);
      transition: all 0.6s;
    }
    @media (max-width: em(849.98)) {
      top: 70%;
    }
    @media (max-width: em(699.98)) {
      top: 75%;
    }
  }
  // .painting__title
  &__title {
    font-family: "Acworth";
    font-weight: 700;
    font-size: rem(36);
    line-height: 1.11; /* 40/36 */
    @media (max-width: em(991.98)) {
      font-size: rem(22);
    }
  }
  // .painting__button-info
  &__button-info {
    position: absolute;
    top: rem(25);
    right: rem(24);
    background: transparent;
    @media (max-width: em(991.98)) {
      top: rem(15);
      right: rem(15);
    }
  }
  // .painting__info
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Geometria";
    font-size: rem(20);
    line-height: 1.25; /* 25/20 */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.7s;
    @media (max-width: em(991.98)) {
      font-size: rem(18);
    }
  }
  // .painting__options
  &__options {
    width: 100%;
    font-weight: 400;
    margin-bottom: rem(21);
    max-width: rem(528);
    padding: 0 rem(15) 0;
    text-align: start;
  }
  // .painting__text
  &__text {
    font-weight: 700;
    max-width: rem(528);
    padding: 0 rem(15);
  }
  // .painting__button-close
  &__button-close {
    position: absolute;
    top: rem(32);
    right: rem(27);
    background: transparent;
  }
}
.show {
  .painting__pictures {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
  }
}
.info-open {
  &.painting {
    &:hover {
      .painting__name {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
  .painting__info {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

// *______________________________________ About me
.about-me {
  margin-bottom: rem(179);
  @media (max-width: em(1100)) {
    margin-bottom: rem(90);
  }
  @media (max-width: em(992.98)) {
    margin-bottom: rem(50);
  }
  // .about-me__container
  &__container {
    margin-bottom: rem(54);
    @media (max-width: em(992.98)) {
      margin-bottom: rem(25);
    }
  }
  // .about-me__title
  &__title {
    width: 100%;
    display: flex;
    justify-content: start;
    & span {
      position: relative;
      font-family: "Geometria";
      font-weight: 500;
      font-size: rem(24);
      line-height: 1.25;
      margin-left: 5rem;
      color: #e4e4e4;
      &:before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        top: 50%;
        right: 110%;
        transform: translateY(-50%);
        background-color: #e4e4e4;
        @media (max-width: em(991.98)) {
          right: 98%;
        }
      }
      @media (max-width: em(991.98)) {
        padding-left: 25px;
      }
    }
  }
  // about-me__body
  &__body {
    max-width: rem(1655);
    margin: 0 auto;
  }
  // .about-me__info
  &__info {
    position: relative;
    display: flex;
    align-items: center;
  }
  // .about-me__text
  &__text {
    position: relative;
    left: 8%;
    width: 100%;
    font-family: "Acworth";
    font-weight: 700;
    font-size: rem(80);
    line-height: 1.1; /* 88/80 */
    padding: rem(96) 0;
    background: url(../img/photo_author/photo.jpg) 100% 50% no-repeat;
    & p {
      padding-left: 1rem;
      max-width: 60%;
      @media (max-width: em(600)) {
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    @media (max-width: em(600)) {
      height: 80svh;
      padding: 0 0 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    @media (max-width: em(992.98)) {
      // background: url(../img/photo_author/photo.webp) 70% 25% no-repeat;
      left: 0;
    }
    @media (max-width: em(825)) {
      background: url(../img/photo_author/photo.webp) 70% 50% no-repeat;
    }

    & span {
      color: #b91616;
    }
    &:before {
      content: "";
      position: absolute;
      width: 50vw;
      height: rem(56);
      top: rem(140);
      right: 101.5%;
      transform: translateY(-50%);
      background-color: #b91616;
    }
  }
}
