.header {
    position: relative;
    background-color: #121212;
    padding: rem(58) 0;
    @media (max-width: em(991.98)) {
        position: fixed;
        width: 100%;
        padding: rem(20) 0;
        z-index: 10;
    }
    @media (max-width: em(599.98)) {
        padding: rem(15) 0;
    }
    // .header__container
    &__container {
    }
    // .header__body
    &__body {
        display: flex;
        gap: rem(25);
        align-items: center;
        justify-content: center;
    }

    // .header__logo
    &__logo {
        z-index: 2;

        @media (any-hover: hover) {
            &:hover {
                & img {
                    box-shadow: 0 2px 0px #ff7500;
                }
            }
        }
        & img {
            transition: all 0.3s;
            background-color: transparent;
            @media (max-width: em(369.98)) {
                width: rem(90);
            }
        }
    }
    // .header__navigation
    &__navigation {
        flex: 1 1 auto;
    }
    // .header__button
    &__button {
        font-weight: 600;
        line-height: 1.18;
        text-align: center;
        color: #ffffff;
        z-index: 2;
        @media (max-width: em(991.98)) {
            flex: 1 1 auto;
            text-align: end;
        }
    }
    // .header__link
    &__link {
        display: inline-block;
        padding: rem(14) rem(47);
        border: 2px solid #ffffff;
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #ff7500;
                border: 2px solid #ff7500;
            }
        }
        @media (max-width: em(991.98)) {
            padding: rem(12) rem(35);
        }
        @media (max-width: em(599.98)) {
            padding: rem(10) rem(25);
        }
        @media (max-width: em(369.98)) {
            padding: rem(8) rem(20);
            font-size: rem(14);
        }
    }
    // .header__burger
    &__burger {
        position: relative;
        z-index: 2;
        @media (min-width: em(992)) {
            display: none;
        }
        @media (max-width: em(991.98)) {
            display: block;
            width: rem(24);
            height: rem(24);
            & span {
                display: inline-block;
                width: 100%;
                height: rem(4);
                transform: translateY(-2px);
                background-color: #ff7500;
                transition: all 0.5s;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 75%;
                height: rem(4);
                background-color: #ff7500;
                transition: all 0.5s;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: rem(4);
                background-color: #ff7500;
                transition: all 0.5s;
            }
        }
    }
}

.menu {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.18; /* 19/16 */

    @media (max-width: em(991.98)) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: #121212;
        font-size: rem(25);
        transition: left 0.5s;
        color: #ff7500;
        &::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: rem(80);
            background-color: #121212;
            z-index: 2;
        }
    }

    // .menu__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: rem(30);
        @media (max-width: em(991.98)) {
            flex-direction: column;
            align-items: center;
            padding: rem(120) rem(15) rem(35);
            row-gap: rem(35);
        }
    }
    // .menu__item
    &__item {
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: rem(4) rem(7);
        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #ff7500;
            transition: width 0.5s;
            border-radius: 5px;
        }
        @media (any-hover: hover) {
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    // .menu__link
    &__link {
    }
}
.menu-open {
    & .header__burger {
        // & span {
        //     width: 0;
        // }
        &::before {
            top: rem(5);
            right: 0;
            width: 50%;
            transform: rotate(45deg);
        }
        &::after {
            bottom: rem(5);
            right: 0;
            width: 50%;
            transform: rotate(-45deg);
        }
    }
    & .menu {
        left: 0;
    }
}
