@use "sass:math";
@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";
@import "_header.scss";
@import "_footer.scss";
@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700&display=swap");
* {
	scroll-behavior: smooth;
}
body {
	font-family: Inter, sans-serif;
	font-weight: 500;
	line-height: 1.33;
	color: #292929;
	&.lock {
		overflow: hidden;
	}
}

// *_______________________________________ Main
.main {
	background-color: #121212;
	@media (max-width: em(991.98)) {
		padding-top: rem(120);
	}
	@media (max-width: em(599.98)) {
		padding-top: rem(100);
	}
	// .main__container
	&__container {
	}
	// .main__block
	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(20);
		padding: 0 0 rem(100);
		@media (max-width: em(889.98)) {
			flex-direction: column;
			gap: rem(50);
			padding: rem(9) 0 rem(30);
		}
	}
	// .main__title
	&__title {
		position: relative;
		max-width: rem(585);
		font-weight: 700;
		font-size: rem(50);
		line-height: 1.33;
		text-transform: uppercase;
		color: #ffffff;
		transform: scale3d(0.9, 0.9, 0.9);
		opacity: 0;
		animation: main-title forwards 1.5s;
		@media (max-width: em(889.98)) {
			text-align: center;
		}
		@media (max-width: em(889.98)) {
			font-size: rem(42);
		}
		@media (max-width: em(649.98)) {
			font-size: rem(35);
		}
		@media (max-width: em(379.98)) {
			font-size: rem(32);
		}
	}
	// .main__services
	&__services {
	}
	// .main__pictures
	&__pictures {
		position: relative;
		width: 100%;
		padding-top: rem(565);
		overflow: hidden;
		@media (max-width: em(1440)) {
			padding-top: 39.236111%; /* 565/1440 */
		}
		@media (max-width: em(991.98)) {
			padding-top: 55%;
		}
	}
	// .main__img
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.services {
	display: flex;
	flex-direction: column;
	row-gap: rem(16);
	line-height: 1.33;
	color: #ffffff;
	@media (max-width: em(889.98)) {
		width: 100%;
	}

	// .services__item
	&__item {
		display: flex;
		justify-content: space-between;
		gap: rem(65);
		padding-bottom: rem(8);
		border-bottom: 2px solid #ffffff;
		width: 100%;
		transform: translateY(rem(-25));
		opacity: 0;
		@media (any-hover: hover) {
			&:hover {
				.services__icon {
					transform: translateX(rem(-35)) rotateY(180deg);
				}
			}
		}
		&:nth-child(1) {
			animation: main-services forwards 1.5s;
			animation-delay: 1s;
		}
		&:nth-child(2) {
			animation: main-services forwards 1.5s;
			animation-delay: 1.5s;
		}
		&:nth-child(3) {
			animation: main-services forwards 1.5s;
			animation-delay: 2s;
		}
		@media (max-width: em(559.98)) {
			gap: rem(35);
		}
	}
	// .services__link
	&__link {
	}
	// .services__icon
	&__icon {
		transition: all 0.3s;
	}
}
@keyframes main-title {
	0% {
		transform: scale3d(0.9, 0.3, 0.5);
		opacity: 0;
	}

	100% {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}
@keyframes main-services {
	0% {
		transform: translateY(rem(-25));
		opacity: 0;
	}
	100% {
		transform: translateY(rem(0));
		opacity: 1;
	}
}
// *________________________________ Service list
.main {
	//  .main__body
	&__body {
		background-color: rgb(255, 255, 255);
		padding: rem(71) rem(15);
		@media (max-width: em(991.98)) {
			padding: rem(35) rem(15);
		}
		@media (max-width: em(699.98)) {
			padding: rem(25) rem(15);
		}
		@media (max-width: em(499.98)) {
			padding: rem(15) rem(15);
		}
	}
	// .main__list-service
	&__list-service {
		margin: 0 auto;
		max-width: rem(840);
	}
}
.service-list {
	display: flex;
	justify-content: space-between;
	gap: rem(21);
	flex-wrap: wrap;
	@media (max-width: em(991.98)) {
		gap: rem(35);
		justify-content: center;
	}
	@media (max-width: em(751.98)) {
		column-gap: rem(28);
		row-gap: rem(10);
	}
	@media (max-width: em(449.98)) {
		gap: rem(15);
	}
	// .service-list__item
	&__item {
		display: flex;
		gap: rem(21);
		align-items: center;
		line-height: 1.31;
		color: #565656;
		@media (max-width: em(991.98)) {
			gap: rem(10);
			justify-content: center;
		}
		@media (max-width: em(751.98)) {
			gap: rem(0);
		}
	}
	// .service-list__body-icon
	&__body-icon {
	}
	// .service-list__icon
	&__icon {
		transform: translateX(+60%);

		@media (max-width: em(399.98)) {
			width: rem(62);
		}
	}
	// .service-list__name
	&__name {
		transform: translateX(-60%);
		opacity: 0;
		width: rem(70);
	}
}
@keyframes service-icon {
	0% {
		transform: translateX(+60%);
	}

	100% {
		transform: translateX(0);
	}
}
@keyframes service-name {
	0% {
		transform: translateX(-60%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.show {
	& .service-list__icon {
		animation: service-icon forwards 1.5s;
	}
	& .service-list__name {
		animation: service-name forwards 1.5s;
	}
}
// *_______________________________________ Advantages
.advantages {
	padding: rem(67) 0;
	@media (max-width: em(991.98)) {
		padding: rem(35) 0;
	}
	// .advantages__container
	&__container {
	}
	// .advantages__body
	&__body {
	}
	// .advantages__head
	&__head {
		&:not(:last-child) {
			margin-bottom: rem(110);
			@media (max-width: em(991.98)) {
				margin-bottom: rem(40);
			}
		}
	}
	// .advantages__block
	&__block {
	}
}
.content-advantages {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: rem(20);
	// .content-advantages__left-side
	&__left-side {
	}
	// .content-advantages__right-side
	&__right-side {
	}
	@media (max-width: em(991.98)) {
		grid-template-columns: 1fr;
		gap: rem(35);
	}
}
.side-left {
	display: flex;
	flex-direction: column;
	row-gap: rem(60);
	@media (max-width: em(991.98)) {
		align-items: center;
		row-gap: rem(20);
	}
	// .side-left__item
	&__item {
		display: flex;
		flex-direction: column;
		row-gap: rem(14);
		@media (max-width: em(991.98)) {
			align-items: center;
		}
	}
	// .side-left__numbers
	&__numbers {
		font-weight: 600;
		font-size: rem(24);
		color: #ffffff;
		width: rem(50);
		height: rem(50);
		background-color: #ff7500;
		border-radius: 50%;
		text-align: center;
		transform: scale(0.1);
		& span {
			display: inline-block;
			transform: translateY(rem(10));
		}
	}
	// .side-left__title
	&__title {
		font-weight: 700;
		font-size: rem(24);
		@media (max-width: em(991.98)) {
			text-align: center;
		}
		@media (max-width: em(649.98)) {
			font-size: rem(21);
		}
	}
	// .side-left__text
	&__text {
		max-width: rem(475);
		line-height: 1.7552;
		opacity: 0.3;
		@media (max-width: em(991.98)) {
			max-width: rem(650);
		}
	}
}
.side-right {
	position: relative;
	// .side-right__img-main
	&__img-main {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 25%;
		transform: translatey(-50%);
		background: url(../img/advantages/main.webp) center/ cover no-repeat;
		@media (max-width: em(1470)) {
			width: 37vw;
		}
		@media (max-width: em(991.98)) {
			width: 74.1vw;
		}
		@media (max-width: em(788.98)) {
			width: 100vw;
			left: rem(-15);
		}
		&::before {
			content: "";
			position: absolute;
			top: rem(-32);
			right: rem(158);
			width: rem(212);
			height: rem(61);
			box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			z-index: 1;
			background: url(../img/advantages/rating1.webp) center/cover no-repeat;
			transform: rotateY(180deg);
			backface-visibility: hidden;
			@media (max-width: em(788.98)) {
				top: rem(10);
			}
			@media (max-width: em(574.98)) {
				width: rem(150);
				height: rem(45);
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 95%;
			right: rem(158);
			width: rem(212);
			height: rem(61);
			box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			background: url(../img/advantages/rating3.webp) center/cover no-repeat;
			transform: rotateY(180deg);
			backface-visibility: hidden;
			@media (max-width: em(788.98)) {
				top: 80%;
				right: rem(100);
			}
			@media (max-width: em(574.98)) {
				width: rem(150);
				height: rem(45);
			}
			@media (max-width: em(399.98)) {
				top: 75%;
			}
		}
	}
	// .side-right__img-small
	&__img-small {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 78.392857%; /* 439/560 */
		padding-top: 39.15%; /* 219/439 */
		@media (max-width: em(991.98)) {
			position: static;
			padding: rem(250) 0 rem(150);
			transform: translateY(0);
		}
		@media (max-width: em(788.98)) {
			padding: rem(100) 0 rem(80);
			padding-top: 45%;
		}

		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@media (max-width: em(991.98)) {
				top: 25%;
				width: 70%;
				height: 50%;
			}
			@media (max-width: em(399.98)) {
				display: none;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: rem(-95);
			left: rem(70);
			width: rem(212);
			height: rem(61);
			box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			background: url(../img/advantages/rating2.webp) center/cover no-repeat;
			transform: rotateY(180deg);
			backface-visibility: hidden;
			@media (max-width: em(991.98)) {
				top: rem(30);
			}
			@media (max-width: em(788.98)) {
				top: 45%;
				left: 80%;
			}
			@media (max-width: em(574.98)) {
				width: rem(150);
				height: rem(45);
			}
			@media (max-width: em(399.98)) {
				left: 65%;
			}
		}
	}
}
@keyframes rating-rotate {
	0% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}
@keyframes numbers-left {
	0% {
		transform: scale(0.1);
	}
	100% {
		transform: scale(1);
	}
}
.show {
	.side-left__numbers {
		animation: numbers-left forwards 1.5s;
	}
	.side-right__img-main::before,
	.side-right__img-main::after,
	.side-right__img-small::before {
		animation: rating-rotate forwards 3s;
		animation-delay: 1s;
	}
}
// *__________________________________________ Choice
.choice {
	padding: rem(67) 0 rem(100);
	@media (max-width: em(991.98)) {
		padding: rem(35) 0;
	}
	// .choice__container
	&__container {
	}
	// .choice__body
	&__body {
	}
	// .choice__head
	&__head {
		margin-bottom: rem(65);
		@media (max-width: em(992.98)) {
			margin-bottom: rem(35);
		}
	}
	// .choice__subtitle
	&__subtitle {
		font-weight: 700;
		font-size: rem(24);
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	// .choice__content
	&__content {
	}
}
.room {
	display: grid;
	grid-template-columns: 28.07% 36.84% 28.07%;
	gap: rem(40);
	@media (max-width: em(992.98)) {
		grid-template-columns: 1fr 1fr;
		column-gap: rem(15);
		row-gap: rem(25);
	}
	@media (max-width: em(619.98)) {
		grid-template-columns: 1fr;
	}
	@media (max-width: em(449.98)) {
		grid-template-columns: 1fr;
		row-gap: rem(15);
	}
	// .room__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: rem(18);
		&:nth-child(2) {
			grid-row: 1/3;
			grid-column: 2/3;
			@media (max-width: em(992.98)) {
				grid-row: 2/3;
				grid-column: 1/3;
			}
			@media (max-width: em(619.98)) {
				grid-row: 1/2;
				grid-column: 1/2;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.room__img img {
					transform: scale(1.03);
				}
			}
		}
	}
	// .room__img
	&__img {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 69.375%; /* 222/320 */
		overflow: hidden;
		transform: scale(0.85);
		opacity: 0.3;
		@media (max-width: em(992.98)) {
			padding-top: 49.375%;
		}
		@media (max-width: em(619.98)) {
			width: 100vw;
			margin-left: rem(-15);
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s;
		}
	}
	// .room__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(3);
		align-items: flex-start;
	}
	// .room__guest
	&__guest {
		font-size: rem(14);
		text-transform: uppercase;
		opacity: 0.6;
		@media (max-width: em(499.98)) {
			font-size: rem(12);
		}
	}
	// .room__name
	&__name {
		font-weight: 600;
		font-size: rem(22);
		@media (max-width: em(499.98)) {
			font-size: rem(20);
		}
	}
}
.img-size {
	padding-top: 132.47619%; /* 548/420 */
	transform: scale(1);
	opacity: 1;
	@media (max-width: em(1131.98)) {
		padding-top: 132.7619%;
	}
	@media (max-width: em(1099.98)) {
		padding-top: 134%;
	}
	@media (max-width: em(1059.98)) {
		padding-top: 135%;
	}
	@media (max-width: em(1039.98)) {
		padding-top: 136%;
	}
	@media (max-width: em(1009.98)) {
		padding-top: 137%;
	}
	@media (max-width: em(992.98)) {
		padding-top: 40%;
	}
	@media (max-width: em(619.98)) {
		padding-top: 65%;
	}
}
@keyframes choice-item {
	0% {
		transform: scale(0.85);
		opacity: 0.3;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.show {
	.room__img {
		animation: choice-item forwards 1.5s;
	}
	.img-size {
		animation: none;
	}
}
// *___________________________________________ About US

.about-us {
	background: url(../img/about/about_1.webp) right/ 42% 100% no-repeat, #121212;
	@media (max-width: em(991.98)) {
		background-size: 100% 100%;
	}
	// .about-us__container
	&__container {
		@media (max-width: em(991.98)) {
			background-color: rgba(18, 18, 18, 0.8);
			padding: 0;
		}
	}
	// .about-us__body
	&__body {
		padding: rem(150) 0;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@media (max-width: em(1200)) {
			padding: rem(120) 0;
		}
		@media (max-width: em(991.98)) {
			padding: rem(100) rem(15);
		}
		@media (max-width: em(699.98)) {
			padding: rem(70) rem(15);
		}
		@media (max-width: em(499.98)) {
			padding: rem(50) rem(15) rem(35);
		}
	}
	// .about-us__title
	&__title {
		position: relative;
		font-weight: 700;
		font-size: rem(45);
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: rem(41);
		}
		&:after {
			content: "";
			position: absolute;
			bottom: rem(-16);
			left: 0;
			width: 73%;
			margin-top: rem(16);
			height: rem(4);
			background: #ff7500;
			border-radius: 3.5px;
		}
		@media (max-width: em(649.98)) {
			font-size: rem(35);
		}
		@media (max-width: em(379.98)) {
			font-size: rem(32);
		}
	}
	// .about-us__text
	&__text {
		font-weight: 500;
		font-size: rem(18);
		line-height: 1.6252;
		opacity: 0.3;
		max-width: rem(392);
		padding-right: rem(15);

		transform: translateY(rem(50));
		color: #121212;

		&:not(:last-child) {
			margin-bottom: rem(36);
		}
		& p:not(:last-child) {
			margin-bottom: rem(26);
		}
		@media (max-width: em(991.98)) {
			opacity: 0.7;
		}
		@media (max-width: em(649.98)) {
			font-size: rem(16);
		}
	}
	// .about-us__button
	&__button {
		& a {
			display: inline-block;
			line-height: 1.6252;
			text-align: center;
			padding: rem(12) rem(44);
			background: #ff7500;
			border: 2px solid #ff7500;
			border-radius: rem(27);
			transition: all 0.3s;
			@media (max-width: em(649.98)) {
				padding: rem(12) rem(65);
				width: 100%;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				& a {
					background-color: #121212;
				}
			}
		}
		@media (max-width: em(399.98)) {
			width: 100%;
		}
	}
}
@keyframes about-text {
	0% {
		transform: translateY(rem(50));
		color: #121212;
	}
	100% {
		transform: translateY(rem(0));
		color: #ffffff;
	}
}
.show {
	&.about-us__text {
		animation: about-text forwards 1.5s;
	}
}
//  *__________________________________________ Sub About
.sub-about {
	padding: rem(105) 0 rem(105);
	// .sub-about__container
	@media (max-width: em(899.98)) {
		padding: rem(35) 0;
	}
	&__container {
	}
	// .sub-about__body
	&__body {
		display: flex;
		gap: rem(97);
		@media (max-width: em(1150)) {
			gap: rem(50);
		}
		@media (max-width: em(1100)) {
			gap: rem(20);
		}
		@media (max-width: em(649.98)) {
			flex-direction: column;
		}
	}
	// .sub-about__rating
	&__rating {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		@media (max-width: em(899.98)) {
			justify-content: flex-start;
		}
	}
	// .sub-about__entertainment
	&__entertainment {
	}
}
.rating {
	@media (max-width: em(1150)) {
		flex: 0 0 30%; /* 349/1140 */
	}
	@media (max-width: em(899.98)) {
		flex: 0 0 42%; /* 349/1140 */
	}
	@media (max-width: em(649.98)) {
		flex: 1 1 100%;
	}
	// .rating__title
	&__title {
		font-weight: 700;
		font-size: rem(32);
		text-transform: uppercase;
		max-width: rem(349);
		&:not(:last-child) {
			margin-bottom: rem(28);
		}
		@media (max-width: em(649.98)) {
			max-width: 100%;
		}
	}
	// .rating__stars
	&__stars {
		&:not(:last-child) {
			margin-bottom: rem(80);
			@media (max-width: em(1200)) {
				margin-bottom: rem(50);
			}
			@media (max-width: em(649.98)) {
				margin-bottom: rem(25);
			}
		}
		& img {
			&:not(:last-child) {
				margin-bottom: rem(8);
			}
		}
	}
	// .rating__reviews
	&__reviews {
		font-size: rem(18);
		line-height: 1.6252;
		opacity: 0.6;
		max-width: rem(261);
		@media (max-width: em(649.98)) {
			max-width: 100%;
		}
	}
	// .rating__account
	&__account {
	}
	// .rating__avatar
	&__avatar {
		display: flex;
		&:not(:last-child) {
			margin-bottom: rem(21);
			@media (max-width: em(649.98)) {
				margin-bottom: rem(5);
			}
		}
	}
	// .rating__pictures
	&__pictures {
		position: relative;
		width: rem(45);
		height: rem(45);
		overflow: hidden;
		border-radius: 50%;
		outline: 3px solid #ffffff;
		&:not(:first-child) {
			margin-left: rem(-7);
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .rating__text
	&__text {
		@extend .rating__reviews;
	}
}
.entertainment {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(40);
	position: relative;
	transform: translate(rem(20), rem(-150));
	@media (max-width: em(1200)) {
		transform: translate(rem(15), rem(-150));
	}
	@media (max-width: em(1150)) {
		gap: rem(25);
	}
	@media (max-width: em(899.98)) {
		grid-template-columns: 1fr;
	}
	@media (max-width: em(899.98)) {
		transform: translate(rem(0), rem(-0));
	}
	@media (max-width: em(649.98)) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: em(539.98)) {
		grid-template-columns: 1fr;
	}

	// .entertainment__item
	&__item {
		padding: rem(41) rem(20) rem(42) rem(26);
		background-color: #ffffff;
		box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(15);
		opacity: 0;
		@media (max-width: em(399.98)) {
			padding: rem(15);
		}
		@media (any-hover: hover) {
			&:hover {
				.entertainment__icon {
					transform: rotateY(180deg);
				}
			}
		}
	}
	// .entertainment__icon
	&__icon {
		position: relative;
		width: rem(56);
		height: rem(56);
		background: url(../img/icons/rating/bground.png) center no-repeat;
		transition: all 0.5s;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50%;
			height: 50%;
			transform: translate(-50%, -50%);
		}
	}
	// .entertainment__title
	&__title {
		font-weight: 600;
		font-size: rem(22);
		line-height: 1.2002;
	}
	// .entertainment__text
	&__text {
		font-size: rem(14);
		line-height: 1.6252;
		opacity: 0.4;
	}
}
@keyframes entertainment-item {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.show {
	&.entertainment__item {
		animation: entertainment-item forwards 1.5s;
	}
}
