*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

input[type=search i] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

::-webkit-search-cancel-button {
  display: none;
}

[class*=__container] {
  max-width: 88.75rem;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  z-index: 1;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: #b91616;
  padding: 1.9375rem 0 2.1875rem 0;
}
@media (max-width: 61.99875em) {
  .header {
    padding: 0.9375rem 0 0.9375rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 61.99875em) {
  .header__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header__ghost {
  width: 4.90625rem;
}
@media (max-width: 61.99875em) {
  .header__ghost {
    display: none;
  }
}
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.875rem;
}
@media (max-width: 75em) {
  .header__navigation {
    gap: 4.0625rem;
  }
}
@media (max-width: 61.99875em) {
  .header__navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #b91616;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    padding: 8.125rem 0.9375rem 1.875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__navigation::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #b91616;
  }
}
.header__logo {
  position: relative;
  font-family: "KyivTypeSans";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1; /* 29/24 */
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  cursor: pointer;
}
.header__logo::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 8px;
}
@media (any-hover: hover) {
  .header__logo:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@media (max-width: 61.99875em) {
  .header__logo {
    position: fixed;
    top: 0.8125rem;
    left: 0.9375rem;
    width: 100%;
    z-index: 3;
    font-size: 1.375rem;
  }
}
.header__burger {
  display: none;
  position: relative;
  width: 1.375rem;
  height: 1.125rem;
}
@media (max-width: 61.99875em) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.1875rem;
    margin-top: -1px;
    background-color: #ffffff;
  }
  .header__burger::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 0.1875rem;
    background-color: #ffffff;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  .header__burger::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 45%;
    height: 0.1875rem;
    background-color: #ffffff;
    margin-top: -1px;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
}

.menu {
  font-family: "KyivTypeSans";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8; /* 22/18 */
}
@media (max-width: 61.99875em) {
  .menu {
    font-size: 1.625rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.6875rem;
}
@media (max-width: 75em) {
  .menu__list {
    gap: 2.8125rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.5rem;
  }
}
.menu__item {
  position: relative;
}
.menu__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0.0625rem;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__item:hover::after {
    width: 100%;
    left: 0;
  }
}
.menu-choise {
  position: relative;
  z-index: 3;
  font-family: "Geometria";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.27; /* 23/18 */
  margin-right: 33px;
}
@media (max-width: 61.99875em) {
  .menu-choise {
    position: absolute;
    gap: 1.125rem;
    font-size: 0.875rem;
    top: 1.875rem;
    color: #d7a5cf;
    font-weight: 400;
    margin-right: 0;
    left: -100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.menu-choise__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
  cursor: pointer;
}
@media (min-width: 62em) {
  .menu-choise__language::after {
    content: "";
    display: inline-block;
    width: 0.8125rem;
    height: 0.8125rem;
    background: url(../img/icon/arrow.svg) center no-repeat;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}
@media (min-width: 62em) and (any-hover: hover) {
  .menu-choise__language:hover::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .menu-choise__language:hover .menu-choise__items {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@media (max-width: 61.99875em) {
  .menu-choise__language {
    gap: 1.125rem;
  }
}
.menu-choise__active {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media (max-width: 61.99875em) {
  .menu-choise__active {
    color: #ffffff;
  }
}
@media (min-width: 62em) {
  .menu-choise__items {
    position: absolute;
    top: 100%;
    left: -13px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    width: 7.875rem;
    height: 5.9375rem;
    background-color: #b91616;
    padding-top: 15px;
    padding-left: 13px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media (max-width: 61.99875em) {
  .menu-choise__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.125rem;
  }
}
@media (min-width: 62em) {
  .menu-choise__item-link {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
}
@media (min-width: 62em) and (any-hover: hover) {
  .menu-choise__item-link:hover {
    color: #d7a5cf;
  }
}

.menu-open .header__navigation {
  left: 0;
}
.menu-open .menu-choise {
  left: 0.5rem;
}
.menu-open .header__burger::before {
  right: 30%;
}
.menu-open .header__burger::after {
  right: 55%;
}

.footer {
  background-color: #b91616;
  padding: 3.625rem 0;
}
@media (max-width: 67.8125em) {
  .footer {
    padding: 2.1875rem 0;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 67.8125em) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }
}
.footer__title {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25; /* 30/24 */
}
.footer__list-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "KyivType Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22; /* 22/18 */
}
@media (max-width: 67.8125em) {
  .footer__list-contact {
    line-height: 1.5; /* 22/18 */
    text-align: center;
  }
}
@media (max-width: 31.25em) {
  .footer__list-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
    font-size: 1rem;
  }
}
.footer__phone span {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
@media (any-hover: hover) {
  .footer__phone:hover span {
    color: #d7a5cf;
  }
}
.footer__mail span {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
@media (any-hover: hover) {
  .footer__mail:hover span {
    color: #d7a5cf;
  }
}
.footer__instagram span {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
@media (any-hover: hover) {
  .footer__instagram:hover span {
    color: #d7a5cf;
  }
}
@media (any-hover: hover) {
  .footer__button-up:hover .footer__link::after {
    -webkit-transform: translate(-90px, 0);
        -ms-transform: translate(-90px, 0);
            transform: translate(-90px, 0);
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    pointer-events: auto;
  }
}
.footer__link {
  position: relative;
  display: inline-block;
  font-family: "Geometria";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.27; /* 23/18 */
  padding: 0.3125rem 0.625rem;
}
.footer__link::after {
  content: "";
  display: inline-block;
  margin-left: 0.9375rem;
  vertical-align: bottom;
  width: 0.75rem;
  height: 1.4375rem;
  background: url(../img/icon/arrow_up.svg) center no-repeat;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  pointer-events: none;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria-medium.woff2") format("woff2"), url("../fonts/geometria/geometria-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria-extrabold.woff2") format("woff2"), url("../fonts/geometria/geometria-extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria-bold.woff2") format("woff2"), url("../fonts/geometria/geometria-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/geometria/geometria.woff2") format("woff2"), url("../fonts/geometria/geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/kyiv_type/kyivtypesans-regular2.woff2") format("woff2"), url("../fonts/kyiv_type/kyivtypesans-regular2.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/kyiv_type/kyivtypesans-medium2.woff2") format("woff2"), url("../fonts/kyiv_type/kyivtypesans-medium2.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KyivTypeSans";
  src: url("../fonts/kyiv_type/kyivtypesans-bold2.woff2") format("woff2"), url("../fonts/kyiv_type/kyivtypesans-bold2.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acworth";
  src: url("../fonts/acworth/acworthbold.woff2") format("woff2"), url("../fonts/acworth/acworthbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background: url(../img/body.png) 0 0/cover no-repeat fixed, #111111;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
body.lock {
  overflow: hidden;
}

.head__body {
  position: relative;
  display: grid;
  place-items: center;
  height: 90svh;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .head__body {
    height: 72svh;
    place-items: end;
    margin-bottom: 1rem;
  }
}
.head__text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: text-head 1.8s forwards;
          animation: text-head 1.8s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  pointer-events: none;
}
@-webkit-keyframes text-head {
  0% {
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
    opacity: 1;
  }
}
@keyframes text-head {
  0% {
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
    opacity: 1;
  }
}
.head__sub-title {
  font-family: "Geometria";
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.25; /* 45/36 */
  margin-bottom: 1.875rem;
}
.head__title {
  font-family: "Acworth";
  font-weight: 700;
  font-size: 13.75rem;
  line-height: 0.8; /* 243/220 */
}
.img-head {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.img-head__items {
  display: grid;
  grid-template-columns: 30.935252% 65.467626%;
  gap: 4svh;
}
@media (max-width: 61.99875em) {
  .img-head__items {
    gap: 2svh;
  }
}
.img-head__item {
  position: relative;
  width: 100%;
  height: 30svh;
  overflow: hidden;
}
@media (hover: hover) {
  .img-head__item:hover:nth-child(odd) .img-head__pictures {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .img-head__item:hover:nth-child(even) .img-head__pictures {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.img-head__item:nth-child(1) {
  opacity: 0;
  -webkit-animation: child-head 1.2s forwards;
          animation: child-head 1.2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.img-head__item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
  opacity: 0;
  -webkit-animation: child-head 0.8s forwards;
          animation: child-head 0.8s forwards;
  height: 64svh;
}
.img-head__item:nth-child(3) {
  opacity: 0;
  -webkit-animation: child-head 1.2s forwards;
          animation: child-head 1.2s forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes child-head {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes child-head {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.img-head__pictures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.portfolio {
  padding-bottom: 7rem;
}
.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
.portfolio__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.portfolio__title span {
  font-family: "Geometria";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  position: relative;
  margin-right: 5rem;
}
.portfolio__title span::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  top: 50%;
  left: 110%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
}
@media (max-width: 43.12375em) {
  .portfolio__title span {
    position: static;
    -webkit-transform: translate(0, 15px);
        -ms-transform: translate(0, 15px);
            transform: translate(0, 15px);
    margin-bottom: 50px;
  }
}
@media (max-width: 34.37375em) {
  .portfolio__title span {
    margin-bottom: 30px;
  }
}
.portfolio__items {
  margin-top: -3svh;
}
.portfolio__items-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4svh;
}
.portfolio__items-main .portfolio__item:nth-child(odd) {
  grid-row: auto/span 10;
}
.portfolio__items-main .portfolio__item:nth-child(even) {
  grid-row: auto/span 10;
}
.portfolio__items-main .portfolio__item:nth-child(1) {
  grid-row: 1/10;
}
.portfolio__items-main .portfolio__item:nth-child(2) {
  grid-row: 2/11;
}
@media (max-width: 40.625em) {
  .portfolio__items-main {
    grid-template-columns: 1fr;
    margin-bottom: 4svh;
  }
  .portfolio__items-main .portfolio__item:nth-child(odd) {
    grid-row: auto/span 1;
  }
  .portfolio__items-main .portfolio__item:nth-child(even) {
    grid-row: auto/span 1;
  }
}
.portfolio__items-hidden {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4svh;
}
.portfolio__items-hidden .portfolio__item:nth-child(odd) {
  grid-row: auto/span 10;
}
.portfolio__items-hidden .portfolio__item:nth-child(even) {
  grid-row: auto/span 10;
}
.portfolio__items-hidden .portfolio__item:nth-child(1) {
  grid-row: 1/10;
}
.portfolio__items-hidden .portfolio__item:nth-child(2) {
  grid-row: 2/11;
}
@media (max-width: 40.625em) {
  .portfolio__items-hidden {
    grid-template-columns: 1fr;
  }
  .portfolio__items-hidden .portfolio__item:nth-child(odd) {
    grid-row: auto/span 1;
  }
  .portfolio__items-hidden .portfolio__item:nth-child(even) {
    grid-row: auto/span 1;
  }
}
.portfolio__button {
  font-family: "Geometria";
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.27; /* 23/18 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 37.49875em) {
  .portfolio__button {
    font-size: 1rem;
  }
}
.portfolio__work-button {
  display: block;
  padding: 1.3125rem 3.875rem;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (hover: hover) {
  .portfolio__work-button:hover {
    background-color: #b91616;
    border: 2px solid #b91616;
  }
}

.painting {
  position: relative;
  height: 45svh;
}
@media (hover: hover) {
  .painting:hover .painting__name {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .painting:hover .painting__image {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.painting__pictures {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 3s;
  transition: all 3s;
  z-index: -1;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.painting__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.painting__name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  z-index: 1;
}
@media (max-width: 61.99875em) {
  .painting__name {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: 75%;
    height: 3.75rem;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
}
@media (max-width: 53.12375em) {
  .painting__name {
    top: 70%;
  }
}
@media (max-width: 43.74875em) {
  .painting__name {
    top: 75%;
  }
}
.painting__title {
  font-family: "Acworth";
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.11; /* 40/36 */
}
@media (max-width: 61.99875em) {
  .painting__title {
    font-size: 1.375rem;
  }
}
.painting__button-info {
  position: absolute;
  top: 1.5625rem;
  right: 1.5rem;
  background: transparent;
}
@media (max-width: 61.99875em) {
  .painting__button-info {
    top: 0.9375rem;
    right: 0.9375rem;
  }
}
.painting__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Geometria";
  font-size: 1.25rem;
  line-height: 1.25; /* 25/20 */
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
@media (max-width: 61.99875em) {
  .painting__info {
    font-size: 1.125rem;
  }
}
.painting__options {
  width: 100%;
  font-weight: 400;
  margin-bottom: 1.3125rem;
  max-width: 33rem;
  padding: 0 0.9375rem 0;
  text-align: start;
}
.painting__text {
  font-weight: 700;
  max-width: 33rem;
  padding: 0 0.9375rem;
}
.painting__button-close {
  position: absolute;
  top: 2rem;
  right: 1.6875rem;
  background: transparent;
}

.show .painting__pictures {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.info-open.painting:hover .painting__name {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.info-open .painting__info {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.about-me {
  margin-bottom: 11.1875rem;
}
@media (max-width: 68.75em) {
  .about-me {
    margin-bottom: 5.625rem;
  }
}
@media (max-width: 62.06125em) {
  .about-me {
    margin-bottom: 3.125rem;
  }
}
.about-me__container {
  margin-bottom: 3.375rem;
}
@media (max-width: 62.06125em) {
  .about-me__container {
    margin-bottom: 1.5625rem;
  }
}
.about-me__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.about-me__title span {
  position: relative;
  font-family: "Geometria";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-left: 5rem;
  color: #e4e4e4;
}
.about-me__title span:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  top: 50%;
  right: 110%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e4e4e4;
}
@media (max-width: 61.99875em) {
  .about-me__title span:before {
    right: 98%;
  }
}
@media (max-width: 61.99875em) {
  .about-me__title span {
    padding-left: 25px;
  }
}
.about-me__body {
  max-width: 103.4375rem;
  margin: 0 auto;
}
.about-me__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-me__text {
  position: relative;
  left: 8%;
  width: 100%;
  font-family: "Acworth";
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.1; /* 88/80 */
  padding: 6rem 0;
  background: url(../img/photo_author/photo.jpg) 100% 50% no-repeat;
}
.about-me__text p {
  padding-left: 1rem;
  max-width: 60%;
}
@media (max-width: 37.5em) {
  .about-me__text p {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 37.5em) {
  .about-me__text {
    height: 80svh;
    padding: 0 0 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media (max-width: 62.06125em) {
  .about-me__text {
    left: 0;
  }
}
@media (max-width: 51.5625em) {
  .about-me__text {
    background: url(../img/photo_author/photo.webp) 70% 50% no-repeat;
  }
}
.about-me__text span {
  color: #b91616;
}
.about-me__text:before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 3.5rem;
  top: 8.75rem;
  right: 101.5%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #b91616;
}
